.navbar-root-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vw;
    /* background-color: red; */
    justify-content: space-around;
    box-shadow: inset -0.5vw 0vw 1.5vw -1.5vw white;
}

.navbar-root-wrapper button {
    color: white;
}

.navbar-current-page button {
    color: #549EE8;
}