.navbar-root-wrapper {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vw;
    /* background-color: red; */
    justify-content: space-around;
    box-shadow: inset -0.5vw 0vw 1.5vw -1.5vw white;
}

.navbar-root-wrapper button {
    height: 10vh;
    width: 10vw;
    color: white;
}