.page-container {
    display: flex;
}

.mainpage {
    margin-left: 10vw; /* for the navbar */
    height:100vh;
    width: 100%;
    background-color: rgb(23 23 23); /* this is bg-neutral-900 in tailwind */
}

.mainpage.edupage{
    height: 100%;
}

.cd {
    position: fixed;
    z-index: 10; /* to be in front of shooting stars background */
    height:8vh;
    width: 8vh;
    bottom: 5vh;
    right: 5vw;
}

/* spinning animation for record */
.disc {
    -webkit-animation: turn-data-v-700684d3 8s linear infinite;
    animation: turn-data-v-700684d3 8s linear infinite;
}

@keyframes turn-data-v-700684d3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}